body {
  min-height: 100vh;
  margin: 0;
  background-image: url(/assets/home/background_view-cb632c4fb714d1b0921c26972d2be64ffafae04cbba14dc3000d600b4adac70e.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

form {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 340px;
  box-sizing: border-box; }

form.button_to {
  padding: 0;
  background: none;
  margin: 0;
  box-sizing: none;
  display: inline;
  border: none; }

.field {
  margin-bottom: 20px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; }

.actions {
  justify-content: space-between;
  display: flex; }

.actions input[type="submit"] {
  width: 120px;
  padding: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #1979e6;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

.actions a {
  width: 120px;
  padding: 10px 0;
  text-align: center;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #1979e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; }

.actions input[type="submit"]:hover,
.actions a:hover {
  background-color: #135ab4; }

.alert.alert-warning {
  font-size: 20px;
  color: #fff; }

.guest-actions a {
  width: 120px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #1979e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 30px; }

.guest-actions {
  display: flex;
  justify-content: center; }
