<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbo-track': 'reload' %>
    <title>ざっくり経営ナビ</title>
  </head>

    <body>
<header>
  <h2 class="header-title">ざっくり経営ナビ</h2>
  <nav>
    <ul class="header-buttons">
      <li><a href="/users/sign_up"><span>新規登録</span></a></li>
      <li><a href="/users/sign_in"><span>ログイン</span></a></li>
      <li><a href=""><span>ゲストログイン</span></a></li>
    </ul>
  </nav>
</header>

    <main class="FirstView">

      <div class="title-content">
      <h1 class="title-text">自社に必要な資金を知ろう</h1>
      <h2 class="subtitle-text">
        本サイトでは、現状の運転資金を把握し自社にどの程度の借入が必要か<br>
        現状の経営状況では何年で借入を返済できるかをざっくりと試算できます。
      </h2>

      <div class="flex px-4 py-3 justify-center">
        <a href="/users/sign_up" class="btn-large-primary">
          <span>新規登録をして計算スタート</span>
        </a>
        </div>
      </div>
    </main>
  </body>
</html>

