.mypage-container {
  color: #fff;
}

.mypage-header {
  position: absolute;
  display: flex;
  top: 40px;
  left: 40px;
  z-index: 2;
  min-width: 1300px;
  min-height: 50px;
  padding: 50px;
  justify-content: space-between; 
}

.mypage-header .username {
    font-size: 30px;
}

.mypage-header .profile-edit a {
  font-size: 15px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #fff;
  border-radius: 4px;     
  color: #fff;          
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.mypage-header .username,
.mypage-header .profile-edit .btn-link {
  color: #fff; 
}


.calc-history-center {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}


.mypage-main h2 {
  color: #fff;
}


.mypage-main p {
  color: #fff;
}

.mypage-main .special-black {
  color: #222;
}


@media (max-width: 600px) {
  .mypage-header {
    top: 16px;
    left: 8px;
  }
}

.calculation-btn {
  background-color: #1979e6;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
}
